/*---------------------- RESET ----------------------*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*---------------------- COMMON ----------------------*/
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}

/*---------------------- HEADER ----------------------*/
header {
    width: 100%;
    position: fixed;
    background-color: white;
}
.container{
    width: 98%;
    margin: auto;
}
.right-box, .left-box{
    width: 50%;
    float: left;
}
/*---------------------- logo e nav ----------------------*/
.left-box img {
    margin-right: 40px;
}
.container img, nav, li {
    display: inline-block;
    vertical-align: middle;
    padding: 14px 0px;
}
.right-box a, .left-box a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding-right: 40px;
    font-family: Arial;
}
.right-box {
    text-align: right;
}
.right-box button {
    background-color: rgb(0, 89, 255);
    border: none;
    color: white;
    padding: 8px 20px;
}

/*---------------------- MAIN ----------------------*/
.A {
    background-color: rgb(154, 185, 211);
    height: 1000px;
}
/*---------------------- Section - A ----------------------*/
.box-A {
    width: 80%;
    border: 1px solid red;
    margin: auto;
    height: 1000px;
}
.box-title {
    border: 1px solid rgb(255, 136, 0);
    width: 100%;
    margin: 200px 0px 50px 0px;
}
.box-title h1 {
    font-size: 90px;
    font-family: Arial;
}
.box-text_img{
    border: 1px solid rgb(229, 255, 0);
    height: 200px;
}

